* {
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}
/*FOOTER*/
section,
footer {
    padding: 54px 0;
}

h3 {
    font-size: 50px;
}

/*COR DA LETRA*/
p {
    color: #0000009c;
}

/*TAMANHO SITE*/
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn {
    background-color: orange;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.btn:hover {
    background-color: orangered;
}
.banner {
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url(../../img/background_bunner.jpg);
    background-repeat: no-repeat;
    max-width: 100vw;
    background-size: cover;
    background-position: center top;
    height: 90vh;
}

.banner .banner-text {
    display: flex;
    flex-direction: column;
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1 {
    font-size: 96px;
    color: white
}

.banner .banner-text p {
    font-size: 20px;
    color: #ffffffb7;
    font-weight: lighter;
}

/* religiosidade */
.religiosidade .container {
    display: flex;
    align-items: center;
}

.religiosidade .religiosidade-text {
    width: 50%;
    padding: 0 40px;
}

.religiosidade .religiosidade-text h3 {
    font-size: 56px;
}

.religiosidade .religiosidade-text p {
    margin: 5px 0 10px 0;
}

.religiosidade .religiosidade-img {
    width: 50%;
}

.religiosidade .religiosidade-img img {
    width: 100%;
}

.religiosidade a btn animate-btn {
    align-content: center;
}

/* infraestrutura */
.infraestrutura .container {
    display: flex;
    align-items: center;
}

.infraestrutura .infraestrutura-text {
    width: 50%;
    padding: 0 40px;
}

.infraestrutura .infraestrutura-text h3 {
    font-size: 56px;
}

.infraestrutura .infraestrutura-text p {
    margin: 5px 0 10px 0;
}

.infraestrutura .infraestrutura-img {
    width: 50%;
}

.infraestrutura .infraestrutura-img img {
    width: 100%;
}

.infraestrutura a btn animate-btn {
    align-content: center;
}

/* festas tradicionais */
.festas h3 {
    text-align: center;
}

.festas p {
    margin-bottom: 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
}

.festas .card-item {
    background-color: #e7c27f;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 300px;
    transition: 0.3s;
}

.festas .card-item img {
    border-radius: 100%;
    display: block;
}

.festas .card-item .nome-da-festa {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.festas .card-item .iemanja-text {
    font-size: 15px;
    padding: 0 15px;
}

.festas .card-item .oxala-text {
    font-size: 15px;
    padding: 0 15px;
}

.festas .card-item .xango-text {
    font-size: 15px;
    padding: 0 15px;
}

.festas .card-item .ogum-text {
    font-size: 15px;
    padding: 0 15px;
}

.festas .card-item:hover {
    background-color: orange;
    margin-top: -5px;
}

.festas .card-item:hover .nome-da-festa,
.festas .card-item:hover .iemanja-text,
.festas .card-item:hover .oxala-text,
.festas .card-item:hover .xango-text,
.festas .card-item:hover .ogum-text {
    color: white;
}

.festas .card-item:hover .btn {
    background-color: #694b14;
}

/* patrimonio cultural */
.patrimonio .container {
    display: flex;
    align-items: center;
}

.patrimonio .patrimonio-text {
    width: 50%;
    padding: 0 40px;
}

.patrimonio .patrimonio-text h3 {
    font-size: 56px;
}

.patrimonio .patrimonio-text p {
    margin: 5px 0 10px 0;
}

.patrimonio .patrimonio-img {
    width: 50%;
}

.patrimonio .patrimonio-img img {
    width: 100%;
}