/*Configurações Basicas*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Raleway&family=Roboto:wght@300&display=swap');

main {
    display: flex;
    flex-direction: column;
}

section {
    width: 100%;
}

section:first-child {
    height: 92vh;
}

.btn {
    background-color: orange;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.btn:hover {
    background-color: orangered;
}

#welcome {
    display: flex;
    background-image: url(../../img/img-card-infraestrutura.png);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#text-welcome {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 90px;
    color: white;
    justify-content: center;
}

#text-welcome h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

/* segunda section */
#location {
    display: flex;
    flex-wrap: wrap;
    min-height: 60vh;
    padding: 3%;
    justify-content: center;
}

#location-img {
    flex: 3 0 50%;
    display: flex;
    justify-content: center;
    padding: 2%;
}

#location-img img {
    object-fit: cover;
    border-radius: 2%;
    border: orange solid 5px;
    width: 85%;
}

#location-text {
    display: flex;
    flex-direction: column;
    flex: 2 1 400px;
    text-align: center;
    margin-inline: 50px;
    justify-content: center;

}

#location-text h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

#location-text p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

/* Terceira section */
#ecossistema {
    display: flex;
    flex-wrap: wrap-reverse;
    min-height: 60vh;
    padding: 3%;
    justify-content: center;
}

#ecossistema-img {
    flex: 3 0 50%;
    display: flex;
    justify-content: center;
    padding: 2%;
}

#ecossistema-img img {
    object-fit: cover;
    border-radius: 2%;
    border: orangered solid 5px;
    width: 100%;
    width: 85%;
}

#text-ecossistema {
    display: flex;
    flex-direction: column;
    flex: 2 1 400px;
    text-align: center;
    margin-inline: 50px;
    justify-content: center;

}

#text-ecossistema h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

#text-ecossistema p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

@media only screen and (max-width:970px) {
    #text-welcome h1 {
        font-size: 2rem;
    }

    #text-welcome {
        padding: 0 30px;
    }
}

@media only screen and (max-width:542px) {
    #text-welcome h1 {
        font-size: 1.7rem;
    }

    #text-welcome {
        padding: 0;
    }
}