/*Configurações Basicas*/
section {
    max-width: 100vw;
    display: flex;
}
section:first-child {
    height: 92vh;
}
section:not(:first-child,:last-child) {
    height: 100vh;
}
section:last-child {
    height: 80vh;
}

/*Configuração da primeira seção da página (slides)*/
section:nth-child(1) {
    justify-content: center;
    background-image: linear-gradient(72deg, #3debb0, #8956f3);
}
#slide-container {
    width: 90%;
    height: 95%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background: #fff;
}
#slides {
    display: flex;
}
#slides input{
    display: none;
}
